@font-face {
  font-family: "regular";
  src: url('./fonts/SFUIText-Regular.otf');
}
@font-face {
  font-family: "light";
  src: url('./fonts/SFUIText-Light.otf');
}
@font-face {
  font-family: "bold";
  src: url('./fonts/SFUIText-Bold.otf');
}
@font-face {
  font-family: "JostBold";
  src: url('./fonts/Jost-Bold.ttf');
}
@font-face {
  font-family: "JostRegular";
  src: url('./fonts/Jost-Regular.ttf');
}
@font-face {
  font-family: "JostLight";
  src: url('./fonts/Jost-Light.ttf');
}
/* Main fonts */
*{margin: 0;padding: 0;}
p{font-family: "JostLight";font-size: 20px;}
h1{font-family: "JostBold";font-size: 48px;color:#2A4364;}
h2{font-family: "JostBold";font-size: 48px;color:#597FFB;}
h3{font-family: "JostRegular";font-size: 28px;color:#2A4364;}
h4{font-family: "JostRegular";font-size: 36px;}
.blue{color:#7390F0}
.small-p{font-family: "JostLight";font-size: 18px;}
/* Hero Section */
body{display: flex; justify-content: center;}
main{width: 80%;}
header{display: flex;height: 100vh;align-items: center;justify-content: space-around;}
.hero-text{display: flex;flex-direction: column;align-items: center;}
.text{display: flex;flex-direction: column;gap:1rem;position: relative;}
.hero-image {position: relative;width: 30rem;height: 30rem;}
.circle-container {position: relative;
  width: 100%;height: 100%;background-color: #7390f0;
  border-radius: 15rem 0px 15rem 15rem;overflow: hidden;border: 3px solid #742F79;}
.avatar {width: 100%;height: auto;display: block;z-index: 3;position: absolute;}

.arrow {
  position: absolute;
  width: 60px;
  height: auto;
  animation: floatLeftToRightAnimation 2s infinite linear;
  z-index: 5;
}
.twolines, .code{
  position: absolute;
  width: 60px;
  height: auto;
  animation: floatAnimation 5s infinite linear;
  z-index: 5;
}
.barchart, .arrow2{
  position: absolute;
  width: 50px;
  height: auto;
  animation: floatAnimation2 5s infinite linear;
  z-index: 5;
}
.coffee, .threelines{
  position: absolute;
  width: 80px;
  height: auto;
  animation: shrinkGrowAnimation 10s infinite linear;
  z-index: 5;
}
.twolines{top: 2rem;}
.arrow{top:25rem;}
.code{left:29rem;}
.coffee{top:-3rem}
.barchart{top: 16rem; left:21rem}
.threelines{top:17rem; left: -3rem}
.fullstack{width: 140px;height: 140px;position: absolute;left:20.5rem;
  z-index: 2;top:1rem}
@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatAnimation2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shrinkGrowAnimation {
  0% {
    width: 60px; /* Initial size */
    height: 60px;
  }
  50% {
    width: 40px; /* Shrunk size */
    height: 40px;
  }
  100% {
    width: 60px; /* Initial size */
    height: 60px;
  }
}
@keyframes floatLeftToRightAnimation {
  0% {
    left: 0px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
.buttons{display: flex; gap: 1rem}
.button-1 {position: relative;
  font-size: 1.2em;padding: 0.7em 1.4em;background-color: #597FFB;text-decoration: none;border: none;
  border-radius: 0.5em;color: #fff;box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);}
.button-1::before {position: absolute;content: '';height: 0;width: 0;top: 0;left: 0;
  background: linear-gradient(135deg, #fff 0%,#fff 50%, #597FFB 50%, #2C4364 60%);border-radius: 0 0 0.5em 0;box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);transition: 0.3s;}
.button-1:hover::before {width: 1.6em;height: 1.6em;}
.button-1:active {box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);transform: translate(0.1em, 0.1em);}
.button-2{background-color: #2C4364;}
.certificates{color: white}
/* About Section */
.about-section{display: flex;align-items: center; justify-content: space-around;max-width: 1500px;}
.about-image-section{width: 50%;background-color: #7390f0;overflow: hidden;
  width: 30rem;height: 50rem; border-radius: .2rem;position: relative;}
.about-image{width: 100%;height: auto;display: block;z-index: 10;position: relative;}
.about-text-section{width: 50%;}
.about-text{display: flex;flex-direction: column;gap:1rem}
.tech-stack{display: flex;justify-content: space-between;}
.tech-stack-container{display: flex;flex-direction: column;gap:2rem}
.tech-title-container{display: flex;flex-direction: column;gap:1rem}
.stack{display: flex;flex-direction: column;gap:.5rem}
.stack-item{display: flex;align-items: center;gap: .3rem;padding: .5rem;
  box-shadow: -15px 15px 9px -11px rgba(0,0,0,0.1); border-radius: 10px;}
.asterisk, .paralines{
  position: absolute;
  width: 30px;
  height: auto;
  animation: floatAnimation 10s infinite ease-in-out;
  z-index: 1;
}
.asterisk{top:2rem;left:2rem;animation: floatAnimation2 10s infinite ease-in-out;}
.paralines{left: 5rem;top: 2rem;width: 300px;}

/* Services Section */
.services-section{display: flex;flex-direction: column;align-items: center;margin-top: 6rem;gap:4rem;margin-top:15rem;}
.services-grid{display: flex;justify-content: center; width: 100%;gap:1rem;flex-wrap: wrap;}
.service{width: 300px;display: flex;flex-direction: column;align-items: center;gap: 1rem; border: 1px solid #7390F0;padding: 2rem;border-radius: 5px;}
.service:hover{background-color: #98aef53d;transition: .5s ease;}

/* Projects Section */
.projects-section{display: flex;flex-direction: column;align-items: center;gap:4rem;margin-top:15rem;}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 400px;
  width: 1130px;
  row-gap: .5rem;
  column-gap: .5rem;
  
  }
  .div1 { grid-area: 1 / 1 / 3 / 3; }
  .div2 { grid-area: 1 / 3 / 2 / 4; }
  .div3 { grid-area: 1 / 4 / 2 / 5; }
  .div4 { grid-area: 2 / 3 / 3 / 4; }
  .div5 { grid-area: 2 / 4 / 3 / 5; }

.parent > div {
  position: relative;
  overflow: hidden;
  padding: .5rem;
  box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.1);
  border-radius: 5px;

}

.parent > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease; /* Smooth transition for filter property */
  filter: brightness(100%); /* Default brightness */
}

/* Default state for project title */
.parent > div .project-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 1; /* Always visible by default */
  transition: opacity 0.3s ease;
  background-color: #a4a4a4;
  padding: 2px;
  border-radius: 2.5px;
  font-size: 15px;
  width: 92%;
}
.parent > div .project-title {
  color: rgb(255, 255, 255);
}

/* Hover state */
.parent > div:hover img {
  filter: brightness(30%); /* Darken the image on hover */
}

/* Default state for project description */
.parent > div .project-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
  color: white; /* Text color for description */
  font-size: 13px;

}

/* Hover state for project description */
.parent > div:hover .project-description {
  opacity: 1; /* Show the description on hover */
}


/* Contact section */
.contact-section{background-color: #E9F9FF;border-radius: 20px; padding: 2rem;
margin-top: 15rem;}
.contact-text{display: flex;flex-direction: column;align-items: center;}
.contact-heading{display: flex;flex-direction: column;align-items: center;}
.contact-email{display: flex;align-items: center;gap:1rem}
.contact-footer{display: flex;justify-content: space-between;
width: 100%;margin-top: 2rem;}
.links{display: flex;gap:1rem;}
.linkp{font-family: 'JostBold';}
.hi{font-size: 48px;}
/* Footer section */
.footer-section{display: flex;justify-content: center;margin-top: 1rem;padding: 2rem;}

@media(760px < width < 1024px){
  header{flex-direction: column-reverse;gap:0rem;height: 100vh;margin-top: 4rem;}
  .hero-text{width: 80%;}
  .hero-image {position: relative;width: 22rem;height: 22rem;}
  .code{left:25rem;}
  .coffee{top:-3rem;}
  .barchart{top: 13rem; left:23rem}
  .threelines{top:15rem; left: -3rem}
  .about-section{flex-direction: column;gap: 1.5rem}
  .about-image-section{height: 30rem;}
  .about-text-section{width: 74%;}
  .service{width: 220px;padding: 1.5rem;}
  .fullstack{width: 140px;height: 140px;left:16rem;;top:.6rem}
  .arrow{top:20rem;}
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 600px;
    width: 600px;
    row-gap: .5rem;
    column-gap: .5rem;
    }
    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 3 / 1 / 4 / 2; }
    .div3 { grid-area: 3 / 2 / 4 / 3; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 4 / 2 / 5 / 3; }
    .services-section{margin-top: 10rem;}
    .about-section{margin-top:5rem}
    .projects-section{margin-top: 10rem;}
    .contact-section{margin-top: 10rem;}
    .contact-heading h2{font-size: 32px;}
}

@media(width < 760px){
  .small-p{font-size: 12px;}
  p{font-family: "light";font-size: 14px;}
  h1{font-family: "bold";font-size: 20px;color:#2A4364;}
  h2{font-family: "bold";font-size: 20px;color:#597FFB;}
  h3{font-size: 12px;}
  h4{font-size: 18px;}
  main{width: 90%;}
  header{flex-direction: column-reverse;height: 100vh;margin-top: 0;justify-content: center;gap:6rem}
  .hero-text{width: 90%;}
  .hero-image {position: relative;width: 15rem;height: 15rem;}
  .arrow{width: 40px; top:13rem}
  .coffee{top:-2rem;}
  .barchart{top: 6rem; left:10rem; width: 30px;}
  .threelines{top:8rem; left: -1rem}
  .code{left:14rem;width: 30px;}
  .twolines{top: 2rem;width: 30px;right:15rem}
  @keyframes shrinkGrowAnimation {
  0% {
    width: 30px; /* Initial size */
    height: 30px;
  }
  50% {
    width: 15px; /* Shrunk size */
    height: 15px;
  }
  100% {
    width: 30px; /* Initial size */
    height: 30px;
  }
}
  .button-1{font-size: .8em;}
  .about-section{flex-direction: column;gap: 1.5rem;margin-top: 3rem;}
  .about-image-section{width: 15rem;height: 15rem;}
  .about-text-section{width: 74%;}
  .tech-stack{flex-wrap: wrap; gap: 1rem}
  .service{width: 250px;padding: 1.5rem;}
  .fullstack{width: 80px;height: 80px;left: 10rem;;top:.38rem}
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 1000px;
    width: 300px;
    row-gap: .5rem;
    column-gap: .5rem;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .services-section{margin-top: 5rem;}
    .about-section{margin-top:0}
    .projects-section{margin-top: 5rem;}
    .contact-section{margin-top: 5rem;}
}